<!--
====================
@PC通用方形抽奖
@文档地址：
http://tgideas.qq.com/webplat/info/news_version3/804/25810/25811/25812/25814/m16274/201611/521098.shtml

*圆形抽奖文档地址：
http://tgideas.qq.com/webplat/info/news_version3/804/25810/25811/25812/25814/m16274/201611/521114.shtml
====================
-->
<div class="flash"><div id="swfcontent"></div></div>
<script type="text/javascript"  src="//ossweb-img.qq.com/images/js/basic/flashmanagerv5.js"></script>
<script language="javascript">
//开始抽奖flash->js
function callJsToStart(){
//测试
	callFlashToRoll(1); 
}
//开发获得抽奖结果 通知flash开始播放效果 js->flash
function callFlashToRoll(id){
	//通知转盘转到对应的中奖产品的id （序号从0,1,2.....沿着效果光走的顺序，对应下面配置中奖品光效的位置 如id=0 对应显示在19_20的位置）
	if(SWFOBJ)SWFOBJ.stopRoll(id);
}
//3、flash动画完成通知js  flash->js
function callJsToComplete(){
	alert('恭喜你获得大奖哟！！'); 
} 
//初始化抽奖对象的SWFOBJ 可以不知道内部
var SWFOBJ = FlashManager.init({
		'flashUrl' : '//ossweb-img.qq.com/images/flash/lottery/lotterybox_2017_v1.swf',
		//'lighturl':'//ossweb-img.qq.com/images/fifa/cp/a20161110xxx/light.png', 	//外部光圈png  不填写就用默认的效果
		//'starturl':'//ossweb-img.qq.com/images/fifa/cp/a20161110xxx/startbtn.png',//外部按钮png  不填写就用默认的按钮效果
		'width':800,//flash 宽度
		'height':660,//flash 高度
		'total':18,//抽奖产品的总数
　　	  'sbtnx':239,// 开始抽奖按钮的位置x坐标
		'sbtny':130	,// 开始抽奖按钮的位置y坐标
		'sbtnw':320,// 开始抽奖按钮的宽度
		'sbtnh':100,// 开始抽奖按钮的高度
		'boxw':100,// 奖品光效的宽度
		'boxh':100,//奖品光效的高度  
		'position':"19_20,128_20,238_20,348_19,459_19,568_19,679_19,19_129,128.8_129,568_129,678_129,19_240,128_240,238_240,349_240,459_239,569_239,679_239",
		//奖品光效的位置，对应奖品图片的布局，填入每个奖品的位置以及角度用逗号分割  x_y_rotation（角度为0的可以不填写） 例如19_20或者19_20_0 表示第一个奖品的位置 x坐标为19px y坐标为20px 角度为0。）
		'contentId' : 'swfcontent',//嵌入swf 的div层的 id 
		'onClickRollEvent' : callJsToStart,//对应上面接口
		'onCompleteRollEvent':callJsToComplete //对应上面接口
	});
</script>