<!--
====================
@PC通用图片滚动
@文档地址：
http://tguide.qq.com/main/picscroll-component.htm

====================
-->
<style type="text/css">
.wrapper {padding: 20px 40px;width:555px; background-color: #fff;position: relative; margin: 50px 0px 0px 200px;}
.wrapper li{float: left;padding: 0px 3px 0 3px; text-align: center; width: 180px;height:80px; display:inline;overflow:hidden;}
.arrow{width: 30px;height: 82px; display: block; position: absolute; top:20px; background: url("http://ossweb-img.qq.com/images/dnf/web2011/d_sprites.png?d=20120315") no-repeat ; text-indent: -9000em; outline:none;}
.arrow1{left:5px; background-position:-507px -135px;}
.arrow2{right:5px;background-position:-537px -135px;}
.do{overflow:hidden;zoom:1;padding:10px 0 0 5px;}
.do span{display:block;width:5px;height:5px;float:left;margin-right:5px;display:inline;background-color:#000;}
.do span.dotItem{background-color:#f00;}
</style>
<div class='wrapper'>
	<div id='rollbox'>
			<ul class='p-show'>
				<li><img src="http://ossweb-img.qq.com/upload/adw/images/1343346696118359979.jpg" width="180" height="80"  /></li>
				<li><img src="http://ossweb-img.qq.com/upload/adw/images/1343087933232120698.jpg" width="180" height="80"  /></li>
				<li><img src="http://ossweb-img.qq.com/upload/adw/images/1341273480323387542.jpg" width="180" height="80"  /></li>
				<li><img src="http://ossweb-img.qq.com/upload/adw/images/1342405635106682919.jpg" width="180" height="80"  /></li>
			</ul>
	</div>
	<a href="javascript:void(0)"  id="m_right"  class='arrow arrow1' title="上一页">上一页</a>
	<a href="javascript:void(0)"  id="m_left"   class='arrow arrow2' title="下一页">下一页</a>
	<div id="do" class="do"></div>
</div>
<script type="text/javascript">
need("biz.scroll",function(s){
	s.init({
		conId:'rollbox',//内容容器ID
		leftId:'m_right',//左箭头ID
		rightId:'m_left',//右箭头ID
		frameWidth:'558',//显示框宽度
		pageSpace:'186',//翻页宽度或高度
		autoPlay:'true',//自动播放
		position:'left',//播放方向 left为向左，up为向上,设置为up时必须加上翻页高度pageHeight值
		autoPlayTime:'2',//自动播放间隔时间(秒)
		dotListId:'do'//是否需要分页
	});
	s.init({
		conId:'rollbox2',//内容容器ID
		leftId:'m_right2',//左箭头ID
		rightId:'m_left2',//右箭头ID
		frameWidth:'558',//显示框宽度
		pageSpace:'80',//翻页宽度或高度
		autoPlay:'ture',//自动播放
		position:'up',//播放方向 left为向左，up为向上,设置为up时必须加上翻页高度pageHeight值
		autoPlayTime:'2',//自动播放间隔时间(秒)
		dotListId:'do2'//是否需要分页
	})
})
</script>
